@charset "utf-8";

body { font-family: 'Fira Sans', sans-serif;
	color: black;
	background-color: floralwhite; 
	} 

body, html {
  height: 100%;
}

.jumbotron { margin-top: 80px; 
text-align: center;
color:green;}

.bg { 
  /* The image used */
  background-image: url("../images/stardewvalley3.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
h5 { margin-top:30px; }

#images {
	padding: 80px;
	;
}

#image { margin-top: 80px;
margin-left: 60px; }


a { color: #B52121; }

footer {background-color: #DDA059;}



